<!DOCTYPE html>
<html>
	<head>
		<title>Sign up in Puber with Angular!</title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	</head>
	<body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
		<h1>The Signup Page</h1>	
		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/angular.js"></script>
		<script src="/js/public/signup/SignupModule.js"></script>
		<script src="/js/public/hello/StoreModule.js"></script>
		<script src="/js/public/hello/StoreController.js"></script>
		<script src="/js/public/signup/SignupController.js"></script>
		<!--SCRIPTS END-->
	</body>

</html>
